@{
    ViewData["Title"] = "Principal";
}


@* cabecalho *@

<div style="display:flex">
    <h3>@ViewBag.NomeProfessor</h3>

    <form asp-controller="Login" asp-action="Logout">
        <button type="submit">Sair</button>
    </form>
</div>

@* cadastrar turma *@

<form asp-controller="Professor" asp-action="CadastrarTurma">
    <label>Nome da turma</label>
    <input type="text" name="nomeTurma" placeholder="Nome" required/>
    <button type="submit">Cadastrar Turma</button>
</form>

@* título *@

@* tabela *@
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Turma</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var turma in Model)
        {
            <tr>
                <td>@turma.TurmaId</td>
                <td>@turma.Nome</td>
                <td>
                    <div style="display:flex">
                        <form asp-controller="Professor" asp-action="ExcluirTurma">
                            <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                            <button type="Submit">Excluir</button>
                        </form>

                        <form asp-controller="Atividade" asp-action="Index" asp-route-turmaId="@turma.TurmaId">
                            <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                            <button type="Submit">Visualizar</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
